/*-----------------
=======RESET=======
-----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #000;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

article, aside, footer, header, nav, section, main {
  display: block;
}


/*---------------------
=======VARIABLES=======
---------------------*/

:root {

/* original design */
--text-font-base: "Manrope", sans-serif;
--text-weight-base: regular;
--text-size-base: 13px;
--text-lineheight-base: 140%;
--text-letterspacing-base: 0.12%;

--text-1-size: 20px;
--text-1-weight: 700;
--text-1-line-height: 130%;
--text-1-letter-spacing: 0.25px;
--text-2-weight: 700;
--text-3-weight: 500;
--text-4-letter-spacing: 25%;

--colour-white: #ffffff;
--colour-grey-900: #48556A;
--colour-grey-500: #6E8098;
--colour-grey-400: #9DAEC2;
--colour-grey-200: #ECF2F8;

--spacing-200: 1rem; /* 16px */
--spacing-300: 1.5rem; /* 24px */
--spacing-400: 2rem; /* 32px */
--spacing-500: 2.5rem; /* 40px */
--spacing-600: 3rem; /* 48px */
--spacing-700: 3.5rem; /* 56px */
--spacing-800: 4rem; /* 64px */
--spacing-1300: 6.5rem; /* 104px */
--spacing-2000: 10rem; /* 160px */

/* enduro motorbikes */

--text-font-enduro: "Bebas Neue", sans-serif;
--text-size-enduro: 1.5rem;

--color-honda: #cc0000;
--color-honda-lighter: #f04c4c;
--color-yamaha:#000099;
--color-yamaha-ligher:#4c4cd9;
--color-kawasaki: #1cba17;
--color-kawasaki-lighter: #24e41e;
--color-ktm:#FF6600;
--color-ktm-lighter:#FF9D44;

}

/*------------------
=======DESIGN=======
------------------*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colour-grey-200);
}

body, h1, h2 {
  font-family: var(--text-font-base);
  font-weight: var(--text-weight-base);
  font-size: var(--text-size-base);
  line-height: var(--text-lineheight-base);
  letter-spacing: var(--text-letterspacing-base);
}

.component {
  position: relative;
  max-width: 87vw;
  width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
}

.component-inner {
  max-width: 87vw;
  border-radius: 2rem;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.5);
  overflow: hidden;
}

.component-inner-left img {
  margin: auto;
}

.main-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.component-inner-right {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  position: relative;
  padding: 2rem 1.875rem 1.125rem 1.875rem;
  background-color: white;
}

.title {
  font-size: var(--text-1-size);
  font-weight: var(--text-1-weight);
  line-height: var(--text-1-line-height);
  letter-spacing: var(--text-1-letter-spacing);
  color: var(--colour-grey-900);
}

.text {
  font-weight: var(--text-3-weight);
  color: var(--colour-grey-500);
  padding: 1.5rem 0 3rem 0;
}

.share-menu, .share-menu-moto {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 76px;
  background-color: var(--colour-grey-900);
  display: flex;
  align-items: center;
  z-index: 10;
  overflow: visible;
  width: 100%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.share-links {
  display: flex;
  gap: 16px;
  padding-left: 2rem;
  color: var(--colour-grey-400);
  z-index: 100;
}

.social {
  width: 20px;
  height: 20px;
}

.component-inner-right-btm {
  display: flex;
}

.author-img {
  border-radius: 50%;
}

.author-text {
  padding-left: 1rem;
}

.author-name {
font-weight: var(--text-2-weight);
color: var(--colour-grey-900);

}

.author-date {
font-weight: var(--text-3-weight);
color: var(--colour-grey-400);
}

.share-button {
  margin-left: auto;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  position: relative;
  z-index: 20;
}

.share-icon {
  margin: auto;
}

.hidden {
  display: none;
}

.attribution {
  margin-top: 2rem;
  color: black;
  z-index: 1;
  background-color: white;
  padding: 0.2rem;
  max-width: 80svw;
}

.attribution a {
  text-decoration: underline;
}

/*---------------
======MOTO=======
---------------*/

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 0;
  pointer-events: none;
}

.product-grid {
  margin-top: 2rem;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.moto {
  background-image: url(./images/moto-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.klx-card h1, .crf-card h1, .wr-card h1, .exc-card h1 {
  color: white;
  font-family: var(--text-font-enduro);
  letter-spacing: 0.05em;
  transform: skewX(-5deg);
  font-size: var(--text-size-enduro);
  padding: 0.25rem 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.klx-card h1 {
  background: linear-gradient(to right, var(--color-kawasaki), var(--color-kawasaki-lighter));
}

.wr-card h1 {
  background: linear-gradient(to right, var(--color-yamaha),var(--color-yamaha-ligher));
}

.crf-card h1 {
  background: linear-gradient(to right, var(--color-honda), var(--color-honda-lighter));
}

.exc-card h1 {
  background: linear-gradient(to right, var(--color-ktm), var(--color-ktm-lighter));
}

/*-----------------------
======WIDE SCREENS=======
-----------------------*/


@media (min-width: 768px) {

  body {
    height: 100svh;
  }

  .component {
    margin: auto;
    max-width: calc(350px + 56ch - 60px);
  }

  .component-inner {
    display: grid;
    grid-template-columns: 350px 1fr;
  }

  .component-inner-right {
    margin-left: -60px;
    max-width: 56ch;
    padding: 1.875rem 2.5rem 1.875rem 2.5rem;
  }

  .share-menu {
    bottom: 6rem;
    left: 35.3rem;
    width: max-content;
    border-radius: 10px;
    z-index: 10;
    padding: 0 2rem;
  }

  .share-triangle {
    position: absolute;
    bottom: -20%;
    left: 45%;
    transform: rotate(45deg);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    z-index: 10;
    background-color: var(--colour-grey-900);
  }

  .share-links {
    padding-left: 0;
  }

  /*----------*/
  /*---Moto---*/
  /*----------*/

  .moto-card {
    margin: auto;
    max-width: calc(350px + 40ch - 60px);
  }

  .moto-card > .component-inner-right {
    width: 40ch;
  }

  .share-menu-moto {
    bottom: 6rem;
    left: 27.6rem;
    width: max-content;
    border-radius: 10px;
    z-index: 10;
    padding: 0 2rem;
  }

  .share-triangle-moto {
    position: absolute;
    bottom: -20%;
    left: 45%;
    transform: rotate(45deg);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    z-index: 10;
    background-color: var(--colour-grey-900);
  }
}