/*-----------------
=======RESET=======
-----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #000;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

article, aside, footer, header, nav, section, main {
  display: block;
}


/*---------------------
=======VARIABLES=======
---------------------*/

:root {
--text-base-font: "Manrope", sans-serif;
--text-base-weight: regular;
--text-base-size: 13px;
--text-base-line-height: 140%;
--text-base-letter-spacing: 0.12%;
--text-1-size: 20px;
--text-1-weight: 700;
--text-1-line-height: 130%;
--text-1-letter-spacing: 0.25px;
--text-2-weight: 700;
--text-3-weight: 500;
--text-4-letter-spacing: 25%;

--colour-white: #ffffff;
--colour-grey-900: #48556A;
--colour-grey-500: #6E8098;
--colour-grey-400: #9DAEC2;
--colour-grey-200: #ECF2F8;
}

/*------------------
=======DESIGN=======
------------------*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--colour-grey-200);
}

body, h1, h2 {
  font-family: var(--text-base-font);
  font-weight: var(--text-base-weight);
  font-size: var(--text-base-size);
  line-height: var(--text-base-line-height);
  letter-spacing: var(--text-base-letter-spacing);
}

.component {
  position: relative;
  max-width: 80vw;
  width: 100%;
  margin: 0 auto;
}

.component-inner {
  max-width: 80vw;
  border-radius: 2rem;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.5);
  overflow: hidden;
}

.component-inner-left img {
  margin: auto;
}

.main-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.component-inner-right {
  position: relative;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
  background-color: white;
}

.title {
  font-size: var(--text-1-size);
  font-weight: var(--text-1-weight);
  line-height: var(--text-1-line-height);
  letter-spacing: var(--text-1-letter-spacing);
  color: var(--colour-grey-900);
}

.text {
  font-weight: var(--text-3-weight);
  color: var(--colour-grey-500);
  padding: 1.5rem 0 2.5rem 0;
}

.share-menu, .share-menu-moto {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 76px;
  background-color: var(--colour-grey-900);
  display: flex;
  align-items: center;
  z-index: 10;
  overflow: visible;
  width: 100%;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.share-links {
  display: flex;
  gap: 16px;
  padding-left: 2rem;
  color: var(--colour-grey-400);
  z-index: 100;
}

.social {
  width: 20px;
  height: 20px;
}

.component-inner-right-btm {
  display: flex;
}

.author-img {
  border-radius: 50%;
}

.author-text {
  padding-left: 1rem;
}

.author-name {
font-weight: var(--text-2-weight);
color: var(--colour-grey-900);

}

.author-date {
font-weight: var(--text-3-weight);
color: var(--colour-grey-400);
}

.share-button {
  margin-left: auto;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: none;
  position: relative;
  z-index: 20;
}

.share-icon {
  margin: auto;
}

.hidden {
  display: none;
}

.attribution {
  margin-top: 2rem;
  color: black;
  z-index: 1;
  background-color: white;
  padding: 0.2rem;
  max-width: 80svw;
}

.attribution a {
  text-decoration: underline;
}

/*---------------
======MOTO=======
---------------*/

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.6); /* white overlay with opacity */
  z-index: 0;
  pointer-events: none;
}

.product-grid {
  margin-top: 2rem;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
}

.moto {
  background-image: url(./images/moto-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.klx-card h1 {
  color: #24e41e;
  font-style: italic;
}

.crf-card h1 {
  color: #cc0000;
  font-style: italic;
}

.wr-card h1 {
  color: #000099;
  font-style: italic;
}

/*-----------------------
======WIDE SCREENS=======
-----------------------*/


@media (min-width: 768px) {

  body {
    height: 100svh;
  }

  .component {
    margin: auto;
    max-width: calc(350px + 56ch - 60px);
  }

  .component-inner {
    display: grid;
    grid-template-columns: 350px 1fr;
  }

  .component-inner-right {
    margin-left: -60px;
    max-width: 56ch;
  }

  .share-menu {
    bottom: 6rem;
    left: 35.3rem;
    width: max-content;
    border-radius: 10px;
    z-index: 10;
    padding: 0 2rem;
  }

  .share-triangle {
    position: absolute;
    bottom: -20%;
    left: 45%;
    transform: rotate(45deg);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    z-index: 10;
    background-color: var(--colour-grey-900);
  }

  .share-links {
    padding-left: 0;
  }

  /*----------*/
  /*---Moto---*/
  /*----------*/

  .moto-card {
    margin: auto;
    max-width: calc(350px + 40ch - 60px);
  }

  .moto-card > .component-inner-right {
    width: 40ch;
  }

  .share-menu-moto {
    bottom: 8rem;
    left: 27.6rem;
    width: max-content;
    border-radius: 10px;
    z-index: 10;
    padding: 0 2rem;
  }

  .share-triangle-moto {
    position: absolute;
    bottom: -20%;
    left: 45%;
    transform: rotate(45deg);
    border-radius: 5px;
    width: 2rem;
    height: 2rem;
    z-index: 10;
    background-color: var(--colour-grey-900);
  }
}